:root {
	--clr-dark-900: 238 29% 16%;
	--clr-dark-800: 237 12% 33%;
	--clr-dark-700: 240 6% 50%;
	--clr-neutral-300: 273 75% 66%;
	--clr-neutral-400: 240 73% 65%;
	--clr-light-200: 240 5% 91%;
	--clr-light-300: 14 88% 65%;
}

@font-face {
	font-display: swap;
	font-family: 'Kumbh Sans';
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/kumbh-sans-v20-latin-regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Kumbh Sans';
	font-style: normal;
	font-weight: 700;
	src: url('./assets/fonts/kumbh-sans-v20-latin-700.woff2') format('woff2');
}

/*  Edited version of CSS reset by Andy Bell */
/*  https://piccalil.li/blog/a-modern-css-reset/ */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

ul[role='list'],
ol[role='list'] {
	list-style: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

html,
body {
	min-height: 100%;
}

body {
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-family: 'Kumbh Sans', sans-serif;
}

img,
picture,
svg {
	max-width: 100%;
	display: block;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* general */

.content {
	background-image: linear-gradient(
		hsl(var(--clr-neutral-300)),
		hsl(var(--clr-neutral-400))
	);
	min-height: 100vh;
	padding: 2rem;
}

.card {
	background-color: white;
	border-radius: 2rem;
	box-shadow: 0 50px 50px -25px hsl(0 0% 0% / 0.2);
	max-width: 56rem;
	margin: 8rem auto 0 auto;
}

.mobile-images {
	display: flex;
	justify-content: center;
	position: relative;
	margin-bottom: 8rem;
}
.mobile-images > * {
	position: absolute;
	max-width: 15rem;
}
.mobile-images > :first-child {
	top: -7rem;
}

.accordion-heading {
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
}
.accordion {
	padding: 2rem;
}
.panel {
	border-bottom: 1px solid hsl(var(--clr-light-200));
	padding-block: 1.125rem;
	color: hsl(var(--clr-dark-700));
}
.panel > label {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.panel > label:hover {
	color: hsl(var(--clr-light-300));
}
.panel > input[type='radio'] {
	display: none;
}
.panel > input[type='radio']:checked + label {
	color: hsl(var(--clr-dark-900));
	font-weight: 700;
}
.panel > input[type='radio']:checked + label > img {
	transform: rotate(180deg);
}
.panel-icon {
	width: 0.75rem;
}
.panel-content {
	display: none;
}
.panel > input[type='radio']:checked ~ .panel-content {
	padding-top: 0.875rem;
	display: block;
}

@media (min-width: 60em) {
	.card {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.mobile-images {
		display: none;
	}
}
